<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render( "~/bundles/jquery" )
    @Scripts.Render( "~/bundles/Angular" )
    @Styles.Render( "~/Content/bootstrap-css-flatly" )
    @Scripts.Render( "~/Content/bootstrap-js" )
    @RenderSection( "scripts", required: false )
</head>
<body>
    @RenderBody()
</body>
</html>
